<script type="text/javascript">
	
	function rechazarSolicitudAmistad(solicitud_amistad_id, funcionReload){
		var url = "{% url 'amistad:rechazar-solicitud-amistad' solicitud_amistad_id=53252623623632623 %}".replace("53252623623632623", solicitud_amistad_id)
		$.ajax({
			type: 'GET',
			dataType: "json",
			url: url,
			timeout: 5000,
			success: function(data) {
				if(data['response'] == "Solicitud de amistad rechazada."){

				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				alert("Algo ha ido mal.")
			},
			complete: function(data){
				funcionReload()
			}
		});
	}
	
</script>